@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.rectangle-animation {
  animation: shrink 3s linear forwards;
}
